* {
  font-family: "Inter";
  box-sizing: border-box;
  color: white;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

html {
  background: #1e1e1e;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  background: radial-gradient(
    160.18% 67.38% at 52.42% 54.14%,
    #44357d 41.5%,
    rgba(109, 103, 228, 0) 100%
  );
}

main {
  position: relative;

  flex: 1;
  width: 100%;
  max-width: 1920px;
  margin: 0px auto;

  display: flex;

  padding: 40px 40px 40px;
}

header {
  width: 100%;
  max-width: 1920px;
  margin: 0px auto;

  position: fixed;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 80px 0px;

  z-index: 999;

  transition: all 0.2s ease;
}

.header-logo {
  width: 230px;

  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;

  cursor: pointer;
}

.logo-icon {
  color: #efc738;
}

.header-menu {
  display: flex;
}

.header-menu-item {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}
.header-menu-item:hover {
color:#efc738;

transition:all 0.15s ease-in-out;
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;
}

.header-button {
  width: 60px;
  height: 60px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;
  border-radius: 50%;
}

.header-mobile-button {
  display: none;
  cursor: pointer;
}

.header-scrolled {
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.header-mobile-button-line {
  width: 30px;
  height: 3px;
  margin: 3px 0;

  background-color: white;
  transition: transform 0.4s, opacity 0.4s;
}

.header-mobile-button.active .header-mobile-button-line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header-mobile-button.active .header-mobile-button-line:nth-child(2) {
  opacity: 0;
}

.header-mobile-button.active .header-mobile-button-line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-menu {
  display: none;
}

.mobile-menu-item {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-menu-auth-button {
  height: 50px;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;

  background: transparent;
  border-radius: 20px;
  border: 3px solid #efc738;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu.active {
  position: fixed;

  width: 250px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 40px 20px;

  background: #261f46;

  animation: slideDown 0.5s ease;

  z-index: 9999;
}

.sidebar {
  position: fixed;

  width: fit-content;
  height: calc(100% - 230px);

  padding: 20px 0;

  display: flex;

  z-index: 999;
}

.sidebar.active {
  transition: all 0.2s ease;
  background: #00000088;

  padding-left: 20px;
}

.category-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 230px;

  overflow-x: hidden;
  overflow-y: auto;
}

.category-container::-webkit-scrollbar {
  width: 0px;
}

.category-container.active {
  display: flex;
  animation: menushow 0.5s ease;
}

.sidebar-show-icon {
  display: none;
}

.sidebar-show-icon:hover {
  transition: all 0.2s ease;
  background: #ffffff66;
}

.sidebar-show-icon-icon {
  font-size: 25px;
  padding: 3px;
}

.sidebar-show-icon-icon.active {
  transition: all 0.3s ease;
  transform: rotate(-180deg);
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #644cc5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #44357d;
}

.category {
  width: 100%;
  margin-bottom: 40px;
}

.category-title-container {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.category-title {
  flex: 1;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

.category-icon {
  width: 30px;
  height: 30px;

  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;

  transform: rotate(-90deg);
}

.category-content {
  height: 0;
  margin-top: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.category-content-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #c2b6f1;

  cursor: pointer;
}

.category-content-item-active {
  padding: 3px 10px;
  background: #c2b6f133;
  border-radius: 10px;
}

.category-content-item:not(:last-child) {
  margin-bottom: 20px;
}

.main {
  width: 100%;
  padding-left: 300px;
}

.betting-container {
  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px 400px;
  column-gap: 40px;
  row-gap: 30px;
}

.betting-Item {
  width: 400px;
  height: fit-content;
  background: #c2b6f133;
  border-radius: 20px;

  padding: 30px 40px;
}

.betting-team-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.betting-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.betting-team-image {
  width: 60px;
  height: 60px;
}

.betting-team-name {
  margin-top: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

.betting-status-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.loader {
  position:fixed;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: white;
  animation: spin 1s linear infinite;
  z-index: 9999; /* Set a high z-index to ensure it appears above other elements */

}

.loader::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 6px solid transparent;
  border-top-color: transparent;
  border-bottom-color: white;
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.betting-status-container {
  font-size: 14px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

.betting-time-container {
  margin-top: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

.betting-button-box {
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0px;
}

.betting-button:not(:last-child) {
  margin-right: 20px;
}




.unfavourite-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  padding: 5px 15px;
  border: 3px solid #f54343;
  background: transparent;
  color:#f54343;
  border-radius: 10px;

  cursor: pointer;

  transition: all 0.2s ease;
}

.unfavourite-button:hover {
  color: #ffffff;
  border: 3px solid #ffffff;
}


.betting-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  padding: 5px 15px;
  border: 3px solid #ffffff;
  background: transparent;

  border-radius: 10px;

  cursor: pointer;

  transition: all 0.2s ease;
}

.betting-button:hover {
  color: #efc738;
  border: 3px solid #efc738;
}

.betting-button-active {
  background: #efc738;
  border: 3px solid #efc738;
}

.betting-button-active:hover {
  color: #efc738;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;

  overflow: auto;
}

.bet-modal-content {
  position: relative;

  width: 100%;
  /* max-width: 500px; */

  padding: 20px 30px;
  margin: 50px auto;

  border-radius: 20px;
  background: #5031cc;

  transform: scale(0);
  transition: all 0.3s;
}

.bet-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  font-size: 35px;
  line-height: 1;
  font-weight: bold;

  color: #aaa;
  z-index: 9999;

  transition: all 0.2s;
  cursor: pointer;
}

.bet-modal-close:hover,
.bet-modal-close:focus {
  color: black;
  text-decoration: none;
}

.history-container {
  display: flex;
  flex-direction: column;
}

.history-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
}

.history-content {
  margin-top: 30px;
  margin-bottom: 60px;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
}

.history-item:not(:last-child) {
  margin-bottom: 20px;
}

.history-item-success p {
  color: #63ff7c;
}

.history-item-warning p {
  color: #ffe663;
}

.history-item-fail p {
  color: #ff6363;
}

.history-button {
  width: fit-content;
  margin: 0 auto;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;

  padding: 12px 18px;
  border-radius: 10px;

  background: none;
  border: 3px solid white;

  cursor: pointer;

  transition: all 0.2s;
}

.history-button:hover {
  border: 3px solid #644cc5;
  color: #644cc5;
}



.analysis-modal-content {
  position: relative;

  width: 100%;
  max-width: 1000px;

  padding: 40px 30px;
  margin: 10px auto;

  border-radius: 20px;

  transform: scale(0);
  transition: all 0.3s;
}

.analysis-modal-close {
  position: absolute;
  top: 0px;
  right: 0px;

  font-size: 35px;
  line-height: 1;
  font-weight: bold;

  color: #aaa;
  z-index: 9999;

  transition: all 0.2s;
  cursor: pointer;
}

.analysis-modal-close:hover,
.analysis-modal-close:focus {
  color: white;
  text-decoration: none;
}

/* Custom */

.main_container {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  height:1000px
}

.analysis-modal {
  width: 60rem; display: block;
}

.match_description {
  background-color:#5031cc;
  border-radius:20px;
  width: 50rem;
  height:22rem;
  margin-bottom:320px; 
  margin-top: 0px;
}

#modal {
  padding-top: 250px;
}

/* .betting-btn {
  margin-top: 100px;
} */


@media (max-width: 768px) {
  .main_container {
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items:start;
    height:2100px
  }

  .analysis-modal {
    width: 25rem; display: block;
  }

  .match_description {
    background-color:#5031cc;
    border-radius:20px;
    width:20rem;
    height:22rem;
    margin-bottom:320px; 
    margin-top: 0px;
  }

  .history-title {
    font-size: 13px;
  }

  #modal {
    padding-top: 10px;
  }

  /* .betting-btn {
    margin-top: 30px;
  } */

}

@media (max-width: 360px) {
  .analysis-modal  {
    width: 20rem; display: block;
  }
}


@media (max-width: 375px) and (max-height: 667px) {
  .analysis-modal  {
    width: 20rem; display: block;
  }
}



.chat-container {
  width: 100%;
  height: fit-content;
}

.chat {
  height: 378px;
  width: 100%;
  background: #5031cc;
  border-radius: 20px;

  padding: 40px;
  display: flex;
  flex-direction: column;

}

.chat:not(:last-child) {
  margin-bottom: 20px;
}

.team-container {
  display: flex;
  align-items: center;
}

.team-image {
  width: 60px;
  height: 60px;
}

.team-detail {
  margin-left: 8px;
}

.team-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

.team-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  color: #bebebe;
}

.main-chat {
  flex: 1;
  margin-top: 30px;
}

.main-chart-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}


@keyframes slideDown {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menushow {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1768px) {
  .analysis-modal {
    width: 45rem; display: block;
  }
  .betting-container {
    grid-template-columns: 400px 400px;
    column-gap: 50px;
  }
}

@media screen and (max-width: 1440px) {
  .analysis-modal {
    width: 80rem; display: block;
  }
  header {
    padding: 40px 40px 0px;
  }

  .header-logo {
    width: 200px;
    font-size: 28px;
  }

  .header-menu-item {
    font-size: 20px;
  }

  .header-menu-item:not(:last-child) {
    margin-right: 30px;
  }

  main {
    padding: 150px 40px 40px;
  }

  .main {
    width: 100%;
    padding-left: 250px;
  }

  .betting-container {
    grid-template-columns: 330px 330px;
    column-gap: 20px;
  }

  .betting-Item {
    width: 330px;
    padding: 20px 15px;
  }

  .betting-team-image {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .analysis-modal {
    width: 60rem; display: block;
  }
  .header-menu {
    display: none;
  }

  .header-button {
    display: none;
  }

  .header-mobile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
  }

  .category-title {
    font-size: 20px;
  }

  .category-content-item {
    font-size: 14px;
  }

  .category-content-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .betting-container {
    grid-template-columns: 330px;
  }

  .betting-Item {
    width: 330px;
    padding: 20px 15px;
  }

  .betting-team-image {
    width: 50px;
    height: 50px;
  }

  .chat {
    padding: 30px;
  }
}
.league-selected{
background-color:#5d4e94;
color:white;


}
@media screen and (max-width: 768px) {
  .analysis-modal {
    width: 23.5rem; display: block;
  }
  .header-logo {
    width: 170px;
    font-size: 24px;
  }

  .category-container {
    display: none;
  }

  .sidebar-show-icon {
    border: none;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    padding-left: 30px;
  }

  .betting-container {
    grid-template-columns: 280px;
  }

  .betting-Item {
    width: 280px;
    padding: 20px 15px;
  }
  .betting-team-image {
    width: 45px;
    height: 45px;
  }

  .betting-team-name {
    font-size: 14px;
  }

  .betting-status-container {
    font-size: 14px;

  }

  .betting-time-container {
    margin-top: 10px;

    font-size: 14px;
  }

  main {
    padding: 190px 10px 40px;
  }

  .bet-modal-content {
    width: calc(100% - 80px);
    padding: 40px 20px;
    max-width: 100%;
  }

  .history-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .history-title {
    font-size: 20px;
  }
  .history-item {
    font-size: 14px;
  }

  .history-item p {
    max-width: 70%;
  }

  .analysis-modal-content {
    position: relative;
  
    width: calc(100% - 40px);
  
    padding: 40px 10px;

  }
  .chat {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 430px) {


        
}


@media screen and (max-width: 430px) {
  .bet-modal-content {
    width: 20rem;
    padding: 40px 20px;
    max-width: 100%;
    margin-right: 10px;
    margin-left: 30px;
  }
  .betting-Item{
    width:fit-content;
    align-content:center;
  }

.searchbox{

justify-content: center;
align-items: center;
margin-right:5rem;
gap: 1rem;

}

.sportselect{

margin-top:1rem;

}
.leagueselect{

  margin-top:1rem;
  
  }
  

.submit{
margin-left:4rem;
margin-top:1rem;

}





}
